body {

}

.wrapper {
  margin: 0 auto;
  width: 768px;
}

h1, h2, h3, h4 {

}

header {

  h1 {
    text-align: center;
  }
}

.main {

  .zone {
    height: 100px;
  }
}

footer {
  margin: 0 auto;

  ul {

    li {
      display: inline;
      list-style: none;
    }
  }
}